*,
*::after,
*::before{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

body{
    font:20px 'Gilroy', sans-serif;
}

.container{
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;

}

.container-flex{
    display: flex;
}

.container-flex-spaced{
    justify-content: space-between;
    align-items: center;
}

.header{
    width: 1600px;
    padding: 18px 0px ;
    align-items: center;
}

.header-title{
    font-size: 20px;
    line-height: 28px;
    margin-right: 240px; 
}

.header-items {
    margin: 0 21px;
    display: inline-flex;
    line-height: 28px;
} 

.header-items a{
    text-decoration: none;
    font-weight: 500;
    color: #1F1F1F;
}

.header-search{
    height: 52px;
    width: 235px;
    font: 20px 'Gilroy';
    border-radius: 50px;
    background-image: url("../img/lupa.svg");
    background-repeat: no-repeat;
    background-position: 17px 17px;
    background-color:#F2F2F2;
    border: none;
    padding-left: 48px;
    margin-right: 24px;
}

.header-cart{
    display: inline-flex;
}

.main-section-inicial{
    margin-top: 91px;
    margin-left: 80px;
    display: inline-flex;
}

.section-title{
    font-size:104px;
    line-height: 104px;
    width: 521px;
    color: #9F9F9F;
    margin-bottom: 24px;
}

.main-section-inicial p{
    width: 100%;
    max-width: 475px;
    line-height: 28px;
}

.main-section-inicial img{
    margin-bottom: 200px;
}

.main-section-inicial button{
    margin-top: 108px;
    margin-bottom: 262px;
    border-radius: 12px;
    font:20px 'Gilroy', sans-serif;
    font-weight: 700;
    line-height: 28px;
    width: 336px;
    height: 84px;
    background-color: white;
    border: 2px solid #1F1F1F;
}

.main-aside-inicial{
    background: #F3F3F3;
    text-align: center;
    border-radius: 8px;
    width: 1440px;
    margin: 0px 0px 240px 80px;
}

.main-aside-inicial h2{
    font-size: 40px;
    padding-top: 64px;
}

.aside-items{
    display: inline-flex;
    margin: 64px 0px 32px 20px;
}

.main-aside-inicial span{
    display: block;
    margin-bottom:64px;
    margin-top: 45.62px;
    font-weight: 700;
    line-height: 28px;
}
.main-aside-inicial button{
    border-radius: 12px;
    font:20px 'Gilroy', sans-serif;
    font-weight: 700;
    width: 336px;
    height: 84px;
    border: 2px solid #1F1F1F;
    margin-bottom: 64px;
}

.main-section-textos{
    margin-left: 80px;
    margin-bottom: 160px;
    width: 1440px;
}

.main-section-textos div{
    text-align: center; 
}

.main-section-textos h2{
    font-size: 64px;
    font-weight: 700;
    color: #9F9F9F;
    text-align: left;
    margin-bottom: 56px;
}

.main-section-textos p{
    font-size: 20px;
    line-height: 28px;
    width: 581px;
    text-align: left;
}

.textos-amortecimento{
    margin-left: 155px;
}

.main-aside-corra{
    background-image: url("../img/corra.jpg");
    width: 1600px;
    height: 720px;
    margin-top: 200px;
    font-size: 70px;
    line-height: 104px;
    color: white;
}
.main-section-final {
    margin-top: 200px;
    margin-left: 80px;
}

.div-mapa {
    display: inline-block;
}

.div-form {
    display: inline-block;
    vertical-align: center;
    position: absolute;
}

.main-section-final form{
    background-color: #F3F3F3;
    text-align: center;
    padding-top:40px ;
    padding-right: 48px;
    padding-left: 48px;
    border-radius: 0px 8px 8px 0px;
}
.main-section-final h3{
    font-size: 40px;
    text-align: justify;
    margin-bottom: 40px;
}

.main-section-final input, textarea{
    font: 20px 'Gilroy', sans-serif;
    line-height: 28px;
    color: #969696;
    font-weight: 500;
    border-radius: 12px;
    border: none;
    padding:28px;
    margin-bottom:24px;
    width: 517px;
    height: 76px;
    display: block;
}
#textarea{
    height: 260px;
    margin-bottom: 33px;
}
.main-section-final label{
    margin-right: 92px;
    display: inline-block;
    color:#969696;
}
#checkbox {
    display: inline-block;
    height: 28px;
    width: 28px;
}

.main-section-final button{
    border-radius: 12px;
    font-size: 20px;
    width: 517px;
    height: 84px;
    margin-bottom: 48px;
    margin-top: 32px;
    border: 2px solid #1F1F1F;
    font: 20px 'Gilroy', sans-serif;
    font-weight: 700;
}

.footer-final {
    background-color: #F3F3F3;
    margin-top: 160px;
    width: 1600px;
}
.footer-final h3{
    margin-top: 56px;
    margin-bottom: 18px;
    display:inline-block;
    vertical-align: top;
    text-align: justify;
    line-height: 28px;
    font-weight: 500;
}

.footer-h3{
    margin-right: 149px;
    margin-left: 80px;
}

.footer-final ul{
    text-align: justify;
    width: 336px;
    margin-bottom: 56px;
    margin-left: 72px;
}

.footer-final li{
    display:block;
}

.footer-div-redes{
    vertical-align: top;
    text-align: center;
}

.footer-div-redes h3{
    display:block;
    text-align: justify;
} 